@model IEnumerable<Ecclesial.Calendar.DAL.Calendar>
@{
    ViewBag.Title = "Victoria Christadelpian Ecclesial Schedule";
}

<article>
    <p>
        Welcome to the online ecclesial schedule.
    </p>
    <p>
        This site provides a simple interface for volunteering for specific tasks within our weekly schedule.  To gain access to the schedule please contact <a href="mailto:jeremymfoster@hotmail.com">Jeremy Foster</a>.
    </p>
    <p>
        Once you receive an email with a unique link, you can begin selecting the tasks and dates.
    </p>
    <p>
        <em>
            "Every man according as he purposeth in his heart, so let him give; not grudgingly, or of necessity: for God loveth a cheerful giver." (2Co 9:7  KJV)
        </em>
    </p>
</article>

<nav>
    <ul>
        @foreach(var calendar in Model)
        {
            <li><a href="/schedule/@calendar.Id">@calendar.Description</a></li>
        }
    </ul>
</nav>