@model Microsoft.AspNetCore.Diagnostics.IExceptionHandlerFeature
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Unauthorized</h2>

<article>
    <p>
        You do not have permission to perform this action.
    </p>
</article>