@model Microsoft.AspNetCore.Diagnostics.IExceptionHandlerFeature
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Forbidden</h2>

<article>
    <p>
        You are not authenticated.  Please signin to the application.
    </p>
</article>